chapter 17/ConsoleMathServiceClient/Service References/MathService/MathServiceWorkflow1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ProWF" elementFormDefault="qualified" targetNamespace="http://ProWF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DivideNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dividend" type="xs:double" />
        <xs:element minOccurs="0" name="divisor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideNumbersResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>