chapter 16/ConsoleInvokeWebService/Web References/localhost/SharedWorkflows.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DivideNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="dividend" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="divisor" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideNumbersResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DivideNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:DivideNumbers" />
  </wsdl:message>
  <wsdl:message name="DivideNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:DivideNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="MathServiceWorkflow_WebServiceSoap">
    <wsdl:operation name="DivideNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DivideNumbers</wsdl:documentation>
      <wsdl:input message="tns:DivideNumbersSoapIn" />
      <wsdl:output message="tns:DivideNumbersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MathServiceWorkflow_WebServiceSoap" type="tns:MathServiceWorkflow_WebServiceSoap">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DivideNumbers">
      <soap:operation soapAction="http://tempuri.org/DivideNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MathServiceWorkflow_WebServiceSoap12" type="tns:MathServiceWorkflow_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DivideNumbers">
      <soap12:operation soapAction="http://tempuri.org/DivideNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathServiceWorkflow_WebService">
    <wsdl:port name="MathServiceWorkflow_WebServiceSoap" binding="tns:MathServiceWorkflow_WebServiceSoap">
      <soap:address location="http://localhost:1269/SharedWorkflows_WebService/SharedWorkflows.MathServiceWorkflow_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MathServiceWorkflow_WebServiceSoap12" binding="tns:MathServiceWorkflow_WebServiceSoap12">
      <soap12:address location="http://localhost:1269/SharedWorkflows_WebService/SharedWorkflows.MathServiceWorkflow_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>